/*
 * Graphite Layout - Shared base layer definitions
 * https://github.com/rdavison/graphite-layout
 *
 * Standard Corne (36 keys):
 *   Uses GRAPHITE_BASE_36, GRAPHITE_SYM_36, GRAPHITE_FUN_36, GRAPHITE_SYS_36
 *
 * TOTEM (38 keys):
 *   Uses GRAPHITE_BASE_38, GRAPHITE_SYM_38, GRAPHITE_FUN_38, GRAPHITE_SYS_38
 *
 * Eyelash Corne (42 keys + encoder):
 *   Uses GRAPHITE_BASE_42, GRAPHITE_SYM_42, GRAPHITE_NUM_42, GRAPHITE_SYS_42
 */

// Layer indices
#define BASE 0
#define SYM 1
#define FUN 2
#define NUM 2  // TOTEM uses NUM at same index as FUN
#define SYS 3

/ {
    behaviors {
        plus_morph: plus_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp EQUAL>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMICOLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        qmark_morph: qmark_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        quote_morph: quote_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        n3_morph: n3_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp DOT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lshift_dance: lshift_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp TAB>;
        };

        sym_ht: sym_ht {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            bindings = <&mo>, <&sl>;
        };
    };
};

// ============================================================================
// 36-KEY LAYOUTS (Standard Corne)
// ============================================================================

#define GRAPHITE_BASE_36 \
   &mt LGUI ESC    &lt SYS B      &kp L           &kp D           &kp W           &kp Z        &kp SEMI      &kp F           &kp O           &kp U           &kp J           &kp RSHFT      \
   &lt FUN TAB     &kp N          &kp R           &kp T           &kp S           &kp G        &kp Y         &kp H           &kp A           &kp E           &kp I           &kp SQT        \
   &kp LSHFT       &kp Q          &kp X           &kp M           &kp C           &kp V        &kp K         &kp P           &kp DOT         &kp MINUS       &kp FSLH        &kp COMMA      \
                                               &kp LCTRL       &mo SYM         &kp SPC      &kp RET       &kp BSPC        &kp RALT

#define GRAPHITE_SYM_36 \
   &trans          &kp N1         &kp N2          &kp N3          &kp N4          &kp N5       &kp N6        &kp N7          &kp N8          &kp N9          &kp N0          &trans         \
   &trans          &kp EXCL       &kp LBKT        &kp LBRC        &kp LPAR        &kp DOLLAR    &kp PG_UP     &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT       &kp GRAVE      \
   &kp LSHFT       &kp AT_SIGN    &kp RBKT        &kp RBRC        &kp RPAR        &kp PRCNT     &kp PG_DN     &kp HOME        &kp END         &plus_morph     &kp BSLH        &kp EQUAL      \
                                               &trans          &trans          &trans       &trans        &kp DEL         &trans

#define GRAPHITE_FUN_36 \
   &trans          &kp F1         &kp F2          &kp F3          &kp F4          &kp F5       &kp F6        &kp F7          &kp F8          &kp F9          &kp F10         &kp F11        \
   &trans          &trans         &trans          &trans          &trans          &trans       &trans        &trans          &trans          &trans          &trans          &kp F12        \
   &trans          &trans         &trans          &trans          &trans          &trans       &trans        &trans          &trans          &trans          &trans          &trans         \
                                               &trans          &trans          &trans       &trans        &trans          &trans

#define GRAPHITE_SYS_36 \
   &trans          &trans         &out OUT_TOG    &kp C_BRI_DN    &kp C_BRI_UP    &kp C_PP     &kp C_NEXT    &kp C_VOL_UP    &kp C_VOL_DN    &trans          &trans          &trans         \
   &trans          &trans         &trans          &trans          &trans          &trans       &trans        &trans          &trans          &trans          &trans          &trans         \
   &trans          &trans         &trans          &trans          &trans          &trans       &trans        &trans          &bt BT_CLR      &out OUT_USB    &out OUT_BLE    &bt BT_NXT     \
                                               &trans          &trans          &trans       &trans        &trans          &trans

// ============================================================================
// 38-KEY LAYOUTS (TOTEM)
// Format: 5 left | 5 right (row 1 & 2)
//         1 pinky + 5 left | 5 right + 1 pinky (row 3)
//         3 thumb left | 3 thumb right
// ============================================================================

#define GRAPHITE_BASE_38 \
           &kp B          &kp L           &kp D           &kp W           &kp Z        &kp SEMI      &kp F           &kp O           &kp U           &kp J              \
           &kp N          &kp R           &kp T           &kp S           &kp G        &kp Y         &kp H           &kp A           &kp E           &kp I              \
&lshift_dance &kp Q       &kp X           &kp M           &kp C           &kp V        &kp K         &kp P           &kp COMMA       &kp DOT         &kp FSLH    &kp RSHFT \
                                       &mt LCTRL ESC   &sym_ht SYM SYM &kp SPC      &kp RET       &kp BSPC        &kp RALT

#define GRAPHITE_SYM_38 \
           &kp EXCL       &kp LPAR        &kp RPAR        &kp AMPS        &kp DQT     &kp COLON    &kp MINUS       &kp PLUS        &kp EQUAL       &kp UNDER          \
           &kp ASTRK      &kp LBRC        &kp RBRC        &kp HASH        &kp DOLLAR   &kp PG_UP     &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT          \
&kp LGUI   &kp CARET      &kp LBKT        &kp RBKT        &kp AT_SIGN     &kp PRCNT         &kp PG_DN     &kp HOME        &kp END         &kp SQT         &kp BSLH  &kp RGUI     \
                                       &mo NUM         &trans          &trans       &trans        &kp DEL         &trans

#define GRAPHITE_NUM_38 \
           &kp HOME       &kp PG_UP       &kp PG_DN       &kp END         &trans       &kp ASTRK     &kp N7          &kp N8          &kp N9          &kp MINUS          \
           &kp LEFT       &kp UP          &kp DOWN        &kp RIGHT       &trans       &kp EQUAL     &kp N4          &kp N5          &kp N6          &kp PLUS           \
&kp TAB    &trans         &trans          &trans          &trans          &trans       &kp N0        &kp N1          &kp N2          &n3_morph       &kp FSLH  &trans     \
                                       &trans          &trans          &trans       &kp RET       &trans          &trans

#define GRAPHITE_FUN_38 \
           &kp F1         &kp F2          &kp F3          &kp F4          &kp F5       &kp F6        &kp F7          &kp F8          &kp F9          &kp F10            \
           &trans         &trans          &trans          &trans          &trans       &trans        &trans          &trans          &trans          &kp F11            \
&trans     &trans         &trans          &trans          &trans          &trans       &trans        &trans          &trans          &trans          &trans    &kp F12  \
                                       &trans          &trans          &trans       &trans        &trans          &trans

#define GRAPHITE_SYS_38 \
           &out OUT_TOG   &trans          &trans          &trans          &trans       &trans        &kp C_PP        &kp C_NEXT      &trans          &trans             \
           &kp PSCRN      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3 &trans        &kp C_VOL_DN    &kp C_VOL_UP    &kp C_BRI_DN    &kp C_BRI_UP       \
&trans     &trans         &trans          &trans          &trans          &trans       &trans        &trans          &bt BT_CLR_ALL  &trans          &trans    &trans     \
                                       &trans          &trans          &trans       &trans        &trans          &trans

// ============================================================================
// 42-KEY LAYOUTS (Eyelash Corne with joystick + encoder)
// Format: 6 left | 1 encoder | 6 right (row 1)
//         6 left | 3 joystick | 6 right (row 2)
//         6 left | 1 extra | 1 encoder | 6 right (row 3)
//         3 thumb left | 3 thumb right
// ============================================================================

#define GRAPHITE_BASE_42 \
&none         &kp B      &kp L  &kp D     &kp W       &kp Z                                  &kp UP                   &kp SEMI       &kp F   &kp O      &kp U      &kp J     &none       \
&lshift_dance &kp N      &kp R  &kp T     &kp S       &kp G                        &kp LEFT  &kp ENTER   &kp RIGHT   &kp Y          &kp H   &kp A      &kp E      &kp I     &kp RSHFT   \
&none         &kp Q      &kp X  &kp M     &kp C       &kp V       &kp SPACE                  &kp DOWN                &kp K          &kp P   &kp COMMA  &kp DOT    &kp FSLH  &none       \
                                &mt LCTRL ESC &sym_ht SYM SYM &kp SPC                                                &kp RET        &kp BSPC &kp RALT

#define GRAPHITE_SYM_42 \
&trans  &kp EXCL    &kp LPAR  &kp RPAR  &kp AMPS  &kp DQT                                    &mmv MOVE_UP                  &kp COLON  &kp MINUS  &kp PLUS  &kp EQUAL  &kp UNDER &trans      \
&trans  &kp ASTRK   &kp LBRC  &kp RBRC  &kp HASH  &kp DOLLAR                  &mmv MOVE_LEFT &mkp LCLK    &mmv MOVE_RIGHT  &kp PG_UP  &kp LEFT   &kp DOWN  &kp UP     &kp RIGHT &trans      \
&trans  &kp CARET   &kp LBKT  &kp RBKT  &kp AT_SIGN &kp PRCNT &kp C_MUTE                     &mmv MOVE_DOWN                &kp PG_DN  &kp HOME   &kp END   &kp SQT    &kp BSLH  &trans      \
                              &mo NUM   &trans    &trans                                                                   &trans     &kp DEL    &trans

#define GRAPHITE_NUM_42 \
&trans  &kp HOME    &kp PG_UP  &kp PG_DN    &kp END    &trans                                &mmv MOVE_UP                  &kp ASTRK    &kp N7     &kp N8       &kp N9      &kp MINUS        &trans        \
&trans  &kp LEFT    &kp UP     &kp DOWN     &kp RIGHT  &trans                &mmv MOVE_LEFT  &mkp LCLK    &mmv MOVE_RIGHT  &kp EQUAL    &kp N4     &kp N5       &kp N6      &kp PLUS         &trans        \
&trans  &trans      &trans     &trans       &trans     &trans    &kp C_MUTE                  &mmv MOVE_DOWN                &kp N0       &kp N1     &kp N2       &n3_morph   &kp FSLH         &trans        \
                               &trans       &trans     &trans                                                              &kp RET      &trans     &trans

#define GRAPHITE_SYS_42 \
&trans  &trans           &out OUT_TOG    &kp C_BRI_DN  &kp C_BRI_UP  &kp C_PP                                    &mmv MOVE_UP                  &kp C_NEXT       &kp C_VOL_UP     &kp C_VOL_DN     &trans           &trans    &trans    \
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                 &mmv MOVE_LEFT  &mkp LCLK    &mmv MOVE_RIGHT  &trans           &trans           &trans           &trans           &trans    &trans    \
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF &kp C_MUTE                   &mmv MOVE_DOWN                &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans    &trans    \
                                         &trans        &trans        &trans                                                                     &trans           &trans           &trans
